# Hypothesis Testing Exercise

1)A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [80]:
import pandas as pd
from scipy import stats

In [13]:
df = pd.read_csv("D://Data Science-Ayesha//Cutlets (1).csv")

In [14]:
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [25]:
f,p= stats.f_oneway(df.iloc[:,0], df.iloc[:,1]) 
print("p-value for significance is :" , p)
if p< 0.05:
    print("reject null hypothesis")
else:
        print("accept null hypothesis")

p-value for significance is : 0.4722394724599509
accept null hypothesis

In [16]:
f,p

(0.5225394038913945, 0.4722394724599509)

2) A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [30]:
df = pd.read_csv("D://Data Science-Ayesha//LabTAT (1).csv")

In [31]:
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [36]:
f,p = stats.f_oneway(df.iloc[:,0], df.iloc[:,1])
print("p-value for significance is: ", p)
if p<0.05:
    print("reject null hypothesis")
else: 
    print("accept null hypothesis")

p-value for significance is:  0.7663277896545836
accept null hypothesis

In [37]:
f,p

(0.08851915083712596, 0.7663277896545836)

3) Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [39]:
df= pd.read_csv("D://Data Science-Ayesha//BuyerRatio (1).csv")

In [40]:
df.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [41]:
f,p= stats.f_oneway(df.iloc[:,1],df.iloc[:,2],df.iloc[:,3],df.iloc[:,4])
print("p-value for significance is: ", p)
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

p-value for significance is:  0.8204060154887464
accept null hypothesis

In [42]:
f,p

(0.3068565327605033, 0.8204060154887464)

4)TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [43]:
df= pd.read_csv("D://Data Science-Ayesha//Costomer+OrderForm (1).csv")

In [44]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [69]:
dfv1= df.Phillippines.value_counts()
dfv2= df.Indonesia.value_counts()
dfv3= df.Malta.value_counts()
dfv4= df.India.value_counts()

In [64]:
dfv1

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [66]:
dfv2

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [67]:
dfv3

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [70]:
dfv4

Error Free    280
Defective      20
Name: India, dtype: int64

In [71]:
import numpy as np

In [74]:
obs= np.array([dfv1,dfv2,dfv3,dfv4])

In [75]:
obs

array([[271,  29],
       [267,  33],
       [269,  31],
       [280,  20]], dtype=int64)

In [84]:
stats.chi2_contingency(obs)
print("p-value for significance is:", p)
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

p-value for significance is: 0.8204060154887464
accept null hypothesis

In [85]:
stats.chi2_contingency(obs)

(3.8589606858203545,
 0.2771020991233144,
 3,
 array([[271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25],
        [271.75,  28.25]]))